form(action="/auth/login", method="POST")
  label Email
  input(type="text", name="username")
  br
  label Password
  input(type="password", name="password")
  br
  if message
     p #{message}
  br
  input(type="submit", value="LogIn")
