h1!= csrfToken

form(action="/auth/register", method="POST")

  label User name
  input(type="text", name="username")
  br
  label Email
  input(type="text", name="email")
  br
  label Password
  input(type="password", name="password")
  br
  input(type="submit", value="Register")
