h1!= csrfToken

form(action="/register", method="POST")
  
  input(type="hidden", name="_csrf", value=csrfToken)
  label User name
  input(type="text", name="username")
  br
  label Email
  input(type="text", name="email")
  br
  label Password
  input(type="password", name="password")
  br
  input(type="submit", value="Register")
